<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">

	<resultMap id="boardResultSet" type="Board">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="viewCount" column="view_count"/>
		<result property="inappropriateCount" column="inappropriate_count"/>
		<result property="spoilerCount" column="spoiler_count"/>
		<result property="likeCount" column="like_count"/>
		<result property="modifyDate" column="modify_date"/>
		<result property="createDate" column="create_date"/>
		<result property="status" column="status"/>
		<result property="memberId" column="member_id"/>
		<result property="nickName" column="nickname"/>
		<result property="imageName" column="image_name"/>
	</resultMap>
	
	<resultMap id="commentResultSet" type="Comment">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="content" column="content"/>
		<result property="inappropriateCount" column="inappropriate_count"/>
		<result property="spoilerCount" column="spoiler_count"/>
		<result property="likeCount" column="like_count"/>
		<result property="createDate" column="create_date"/>
		<result property="modifyDate" column="modify_date"/>
		<result property="status" column="status"/>
		<result property="level" column="level"/>
		<result property="memberId" column="member_id"/>
		<result property="boardId" column="board_id"/>
		<result property="reviewId" column="review_id"/>
		
		<result property="nickName" column="nickname"/>
		
	</resultMap>
	
	<resultMap id="memberListResultSet" type="Member">
		<id property="id" column="id"/>
		<result property="nickName" column="nickname"/>
	</resultMap>
	
	
	<select id="getBoardCount" resultType="_int">
		select count(*)
		from tb_board
		where status = 'Y'
	</select>
	
	<select id="selectBoardList" resultMap="boardResultSet">
		select * 
		from tb_board b
		join tb_member m on (b.member_id = m.id)
		where b.status = 'Y'
		order by b.id desc
	</select>

	<insert id="insertBoard">
		insert into tb_board
		values (seq_board_id.nextval, #{title}, #{content},
						default, default, default, default,
						sysdate, sysdate, default, #{memberId}, #{imageName})
	</insert>
	
	<update id="updateCount">
		update tb_board
		set view_count = view_count + 1
		where id = #{id}
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		select *
		from tb_board b
		left join tb_member m on (b.member_id = m.id) 
		where b.id = #{id}
	</select>
	
	<update id="deleteBoard">
		update tb_board
		set status = 'N'
		where id = #{id}
	</update>
	
	<update id="updateBoard">
		update tb_board
		set title = #{title},
				content = #{content},
				modify_date = sysdate,
				image_name = #{imageName}
		where id = #{id}
	</update>
	
	
	 <!-- 댓글 -->	 	 
	 <select id="selectCommentList" resultMap="commentResultSet">
	 	<!-- select c.*
		from tb_comment c
		join tb_board b on (c.board_id = b.id)
		where b.id=#{id} -->
		select c.*, m.nickname
		from tb_comment c
		join tb_member m on (c.member_id = m.id)
		where board_id=#{boardId} and c.status='Y'
        order by c.id desc
		
	 </select>
	 
	 <insert id="insertComment">
	 	insert into tb_comment
	 	values(seq_comment_id.nextval, 2, #{content}, default, default, default, sysdate, sysdate, default, default, #{memberId}, #{boardId}, default)
	 </insert>
	 
	 <update id="updateComment">
	 	update tb_comment
	 	set content=#{content}
	 	where id={id}
	 </update>
	 
	 <update id="deleteComment">
	 	update tb_comment
	 	set status='N'
	 	where id={id}
	 </update>
	 
	 
	 <select id="selectboardListHome" resultMap="boardResultSet">
		select *
		from tb_board
		b
		join tb_member m on(b.member_id=m.id)
		where b.status='Y'
		order by b.id desc
	</select>
	
	<!-- 신고 -->
	<insert id="insertInappro">
		insert into tb_report
		values(seq_report_id.nextval, 2, #{targetId}, #{content}, #{reportId}, #{reportedId})
	</insert>
	
</mapper>