<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="filmMapper">
	
	<resultMap type="Film" id="filmResultSet">
		<id property="id" column="id"/>
		<result property="titleKor" column="title_kor"/>
		<result property="titleEng" column="title_eng"/>
		<result property="director" column="director"/>
		<result property="releaseYear" column="release_year"/>
		<result property="productionCountry" column="production_country"/>
		<result property="productionStatus" column="production_status"/>
		<result property="genre" column="name"/>
	</resultMap>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from tb_film
	</select>
	
	<select id="selectKeywordFilmListCount" resultType="_int">
		select count(*)
		from tb_film f
		join tb_genre g
		on (f.genre_id = g.id)
		where title_kor like '%'||#{keyword}||'%'
		   or title_eng like '%'||#{keyword}||'%'
	</select>
	
	<select id="selectKeywordFilmList" resultMap="filmResultSet">
		select f.*, g.name
		from tb_film f
		join tb_genre g
		on (f.genre_id = g.id)
		where title_kor like '%'||#{keyword}||'%'
		   or title_eng like '%'||#{keyword}||'%'
	</select>
	
	<select id="selectFilterFilmList" resultMap="filmResultSet">
		select f.*, g.name
		from tb_film f
		join tb_genre g on (f.genre_id = g.id)
		where 1 = 1
		<if test='releaseYear != ""'>
			and release_year = #{ releaseYear }
		</if>
		<if test='productionCountry != ""'>
			and production_country = #{ productionCountry }
		</if>
		<if test='genre != ""'>
			and f.genre_id = #{ genre }
		</if>
	</select>
	
	<select id="selectFilterFilmMap" resultMap="filmResultSet">
		select f.*, g.name, l.user_id
		from tb_film f
		join tb_genre g on (f.genre_id = g.id)
    join tb_like l on (l.target_id = f.id)
		where user_id = #{ mid }
		<if test='film.releaseYear != ""'>
			and release_year = #{ film.releaseYear }
		</if>
		<if test='film.productionCountry != ""'>
			and production_country = #{ film.productionCountry }
		</if>
		<if test='film.genre != ""'>
			and f.genre_id = #{ film.genre }
		</if>
	</select>
	
	<select id="selectAllGenreList" resultType="Genre">
		select *
		from tb_genre
	</select>
	
	
	
	
	
	
	
	
	
	
	<select id="getFilmListCount" resultType="_int">
		select count(*)
		from tb_film
	</select>
	
	<select id="selectFilmList" resultMap="filmResultSet">
		select *
		from tb_film
		order by id
	</select>
	
	
	
	
	
	
	<insert id="insertFilm">
		insert into tb_film
		values(seq_id.nextval, #{title_kor}, #{title_eng}, #{director}, 
			   #{release_year}, #{production_country}, #{production_status}, #{genre_id})
	</insert>
	
	<select id="selectFilm" resultMap="filmResultSet">
		select * 
		from tb_film
	</select>

	<update id="deleteFilm"> <!-- 영화 삭제하려면 공개/비공개 컬럼 추가...!? -->
		update tb_film
		set status='N' <!-- 영화테이블엔 status가 없음,,, -->
		where id=#{id}
	</update>
	
	<update id="updateFilm">
		update tb_film
		set titleKor=#{title_kor}, titleEng=#{title_eng}, director=#{director},
			releaseYear=#{release_year}, productionCountry=#{production_country},
			productionStatus=#{production_status}, genreId=#{genre_id}
		where id=#{id}
	</update>
	
	
	
	
	
	
	
</mapper>