<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="likeMapper">
	
	<resultMap type="Like" id="likeResultSet">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="targetId" column="target_id"/>
		<result property="userId" column="user_id"/>
	</resultMap>
	
	<insert id="insertLikeFilm">
		insert into tb_like
		values (seq_like_id.nextval, 1, #{targetId}, #{userId})
	</insert>
	
	<delete id="deleteLikeFilm">
		delete from tb_like
		where user_id = #{userId}
			and target_id = #{targetId}
	</delete>
	
	<select id="selectLikedFilmMap" resultMap="likeResultSet">
		select *
		from tb_like
		where user_id = #{id}
	</select>
	
</mapper>