<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="likeMapper">
	
	<resultMap type="Like" id="likeResultSet">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="targetId" column="target_id"/>
		<result property="userId" column="user_id"/>
	</resultMap>
	
	<!-- <resultMap type="Like" id="likeFilmResultSet">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="targetId" column="target_id"/>
		<result property="userId" column="user_id"/>
		<result property="titleKor" column="title_kor"/>
		<result property="changeName" column="change_name"/>
	</resultMap> -->
	
	
	<insert id="insertLikeFilm">
		insert into tb_like
		values (seq_like_id.nextval, 1, #{targetId}, #{userId})
	</insert>
	
	<delete id="deleteLikeFilm">
		delete from tb_like
		where user_id = #{userId}
			and target_id = #{targetId}
	</delete>
	
	<select id="selectLikedFilmMap" resultMap="likeResultSet">
		select *
		from tb_like
		where user_id = #{id}
	</select>
	
	<select id="selectLikeUser" resultMap="likeResultSet">
		select *
		from tb_like
		where target_id=#{userId} and
			  user_id=#{loginUserId}
	</select>
	
	<insert id="insertLikeMem">
		insert into tb_like values (seq_like_id.nextval, 1, #{targetId}, #{userId})
	</insert>
	
	<delete id="deleteLikeMem">
		delete from tb_like
		where user_id = #{userId} and
			  target_id = #{targetId}
	</delete>
	
	<select id="myPageLikewReviewListCount" resultType="_int">
		select count(*)
		from tb_like
		where user_id=#{id}
	</select>
	
	<!-- <select id="myPageSelectLikeFilm" resultType="likeFilmResultSet">
		select l.id, type, target_id, user_id, title_kor, change_name
		from tb_like l
		join tb_film f on(l.target_id = f.id)  
		left join (select film_id, change_name
		            from tb_detail_film df
		            join tb_film_image fi on(df.id = fi.dfilm_id))b on(b.film_id = f.id)
		where type=1 and
		      user_id=#{id}    
	</select> -->
	
	
</mapper>