<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ratingReviewMapper">

	<!-- <resultMap id="ratingReviewSet" type="Review">
		<id property="ratingReviewId" column="id"/>
		<result property="ratingSound" column="RATING_SOUND"/>
		<result property="ratingVisual" column="RATING_VISUAL"/>
		<result property="ratingActing" column="RATING_ACTING"/>
		<result property="ratingPop" column="RATING_POP"/>
		<result property="ratingScript" column="RATING_SCRIPT"/>
		<result property="ratingDirect" column="RATING_DIRECT"/>
		<result property="titleKor" column="TITLE_KOR"/>
	 	<result property="userImage" column="IMAGE"/>
	 	<result property="modifyDate" column="MODIFY_DATE"/>
	 	<result property="createDate" column="CREATE_DATE"/>
	 	<result property="star" column="star"/>
	 	<result property="content" column="content"/>
	 	
		<result property="posterImage" column=""/> 요기도 컬럼 수정된거써야함
	</resultMap>
	 -->


	 <!-- <select id="selectRatingReviewDetailView" resultMap="ratingReviewSet">
		select *
		from  TB_REVIEW r
		left join tb_rating_review rr on (rr.review_id = r.id)
		left join TB_FILM f on (r.film_id = f.id)
        left join tb_member m on(r.member_id = m.id)
        left join tb_rating_film rf on(r.film_id=rf.id)
        where r.id=#{r.id}
	</select>
 -->
<!-- 	<update id="reviewUpdate">
		update tb_rating_review
		set rating_Sound=#{ratingSound},rating_Visual=#{ratingVisual},rating_Acting=#{ratingActing},rating_Pop=#{ratingPop},rating_Script=#{ratingScript},rating_Direct=#{ratingDirect}
		where id=#{id}
		</update> -->
 








</mapper>