<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ratingFilmMapper">
	
	<insert id="insertRateFilm">
		insert into tb_rating_film
		values (seq_rating_film_id.nextval, #{star}, 'Y', #{userId}, #{filmId})
	</insert>
	
	<update id="updateRateFilm">
		update tb_rating_film
		set star = #{star}
		where member_id = #{userId}
			and film_id = #{filmId}
	</update>
	
	<delete id="deleteRateFilm">
		delete from tb_rating_film
		where member_id = #{userId}
			and film_id = #{filmId}
	</delete>
	
	<select id="selectRatingFilm" resultType="RatingFilm">
		select *
		from tb_rating_film
		where member_id = #{userId}
			and film_id = #{filmId}
	</select>
	
</mapper>