<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">
	
	<resultMap type="Report" id="reportResultSet">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="targetId" column="target_id"/>
		<result property="content" column="content"/>
		<result property="reportName" column="reportName"/>
		<result property="reportedName" column="reportedName"/>
		<result property="reportCount" column="reportCount"/>
		<result property="reportedId" column="reported_id"/>
		
	</resultMap>
	
	<select id="selectReportList" resultMap="reportResultSet">
		select m.nickname as reportedName, reported_id, count(reported_id) as reportCount
        from tb_report r
        join tb_member m on reported_id = m.id
        where reported_id = m.id
        group by reported_id, m.nickname
        having count(reported_id)>1
	</select>
	
	<select id="selectReportBoardList" resultMap="reportResultSet">
		select r.id, type, r.target_id, r.content, mr.nickname as reportedName, rm.nickname as reportName
		from tb_report r
		join tb_member mr on (r.reported_id = mr.id)
		join tb_member rm on (r.report_id = rm.id)
	</select>
	
	
	<!-- 신고 게시글 블라인드 처리(타입별 따로) 
	<update id="blindReport1" parameterType="hashMap">
		update tb_review r
		set status = 'N'
		where r.id = #{targetId}
	</update>
	
	<update id="blindReport2" parameterType="hashMap">
		update tb_comment c
		set status = 'N'
		where c.id = #{targetId}
	</update>
	
	<update id="blindReport3" parameterType="hashMap">
		update tb_board b
		set status = 'N'
		where b.id = #{targetId}
	</update>
	
	<update id="blindReport4" parameterType="hashMap">
		update tb_collection l
		set status = 'N'
		where l.id = #{targetId}
	</update>
	-->
	
	<update id="blindReport">
	    update tb_board
		set status = 'N'
   		<where>
			<foreach item="item" index="index" collection="list">
				<if test="index == 0">
					id = #{item.targetId}
				</if>
				<if test="index != 0">
					or id = #{item.targetId}
				</if>
			</foreach>
		</where>
		
	</update>
	
	


</mapper>