<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">
	
	<resultMap id="reviewSet" type="Review">
		<id property="id" column="id"/>
		<result property="content" column="content"/>
		<result property="inappropriateCount" column="inappropriate_count"/>
		<result property="spoilerCount" column="spoiler_count"/>
		<result property="likeCount" column="LIKE_COUNT"/>
		<result property="spoilerCheck" column="spoiler_check"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap id="reviewListSet" type="Review">
		<id property="id" column="id"/>
		<result property="userImage" column="image"/>
		<result property="nickName" column="nickname"/>
		<result property="titleKor" column="TITLE_KOR"/>
		<result property="titleEng" column="TITLE_Eng"/>
		<result property="name" column="name"/>
		<result property="releaseYear" column="RELEASE_YEAR"/>
		<result property="content" column="content"/>
		<result property="inappropriateCount" column="INAPPROPRIATE_COUNT"/>
		<result property="spoilerCount" column="SPOILER_COUNT"/>
		<result property="likeCount" column="LIKE_COUNT"/>
		<result property="spoilerCheck" column="SPOILER_CHECK"/>
		<result property="status" column="status"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	 	<result property="createDate" column="CREATE_DATE"/>
	 	<result property="filmId" column="FILM_ID"/>
	 	<result property="memberId" column="MEMBER_ID"/>
	 	<result property="posterImage" column="change_name"/>
	  	<result property="ratingReviewId" column="rr_id"/>
	 	<result property="ratingSound" column="RATING_SOUND"/>
		<result property="ratingVisual" column="RATING_VISUAL"/>
		<result property="ratingActing" column="RATING_ACTING"/>
		<result property="ratingPop" column="RATING_POP"/>
		<result property="ratingScript" column="RATING_SCRIPT"/>
		<result property="ratingDirect" column="RATING_DIRECT"/>
		<result property="star" column="star"/>
	</resultMap>
	
	
	<resultMap id="ratingReviewSet" type="Review">
		<id property="id" column="id"/>
		<result property="nickName" column="nickname"/>
		<result property="name" column="name"/>
		<result property="ratingSound" column="RATING_SOUND"/>
		<result property="ratingVisual" column="RATING_VISUAL"/>
		<result property="ratingActing" column="RATING_ACTING"/>
		<result property="ratingPop" column="RATING_POP"/>
		<result property="ratingScript" column="RATING_SCRIPT"/>
		<result property="ratingDirect" column="RATING_DIRECT"/>
		<result property="titleKor" column="TITLE_KOR"/>
	 	<result property="userImage" column="IMAGE"/>
	 	<result property="modifyDate" column="MODIFY_DATE"/>
	 	<result property="createDate" column="CREATE_DATE"/>
	 	<result property="star" column="star"/>
	 	<result property="content" column="content"/>
	 	<result property="posterImage" column="change_name"/>
	</resultMap>

	<resultMap type="Film" id="filmResultSet">
		<id property="id" column="id"/>
		<result property="titleKor" column="title_kor"/>
		<result property="titleEng" column="title_eng"/>
		<result property="director" column="director"/>
		<result property="releaseYear" column="release_year"/>
		<result property="productionCountry" column="production_country"/>
		<result property="productionStatus" column="production_status"/>
		<result property="genre" column="name"/>
		<result property="poster" column="change_name"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
		<id property="id" column="id"/>
		<result property="image" column="image"/>
		<result property="email" column="email"/>
		<result property="pwd" column="pwd"/>
		<result property="nickName" column="nickname"/>
		<result property="status" column="status"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="modifyDate" column="modify_date"/>
		<result property="googleId" column="google_id"/>
		<result property="kakaoId" column="kakao_id"/>
		<result property="autho" column="autho"/>
	</resultMap>
	
	<resultMap type="Review" id="myPageSelectReviewListResultSet">
		<id property="id" column="id"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="content" column="content"/>
		<result property="titleKor" column="TITLE_KOR"/>
		<result property="filmId" column="f_id"/>
		<result property="status" column="status"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="posterImage" column="change_name"/>
		<result property="ratingReviewId" column="id"/>
	</resultMap>
	
	<resultMap type="Report" id="reportReview">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="targetId" column="target_id"/>
		<result property="content" column="content"/>
		<result property="reportId" column="REPORT_ID"/>
		<result property="reportedId" column="REPORTED_ID"/>
		<!-- <result property="memberId" column="member_id"/> -->

	</resultMap>
	
	<resultMap id="commentResultSet" type="Comment">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="content" column="content"/>
		<result property="inappropriateCount" column="inappropriate_count"/>
		<result property="spoilerCount" column="spoiler_count"/>
		<result property="likeCount" column="like_count"/>
		<result property="createDate" column="create_date"/>
		<result property="modifyDate" column="modify_date"/>
		<result property="status" column="status"/>
		<result property="level" column="level"/>
		<result property="memberId" column="member_id"/>
		<result property="boardId" column="board_id"/>
		<result property="reviewId" column="review_id"/>
		<result property="nickName" column="nickname"/>
	</resultMap>
	
	<resultMap type="Like" id="likeSet">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="targetId" column="target_id"/>
		<result property="userId" column="user_id"/>
	</resultMap>
	
	<select id="getReviewListCount" resultType="_int">
		select count(*)
		from tb_review r
		where r.status='Y'
	</select> 
	
	<select id="selectReviewList" resultMap="reviewListSet">	
        select *
		from tb_review r
		left join tb_rating_review rr on(r.film_id=rr.id)
		left join tb_member m on(r.member_id = m.id)
		left join tb_film f on(f.id=r.film_id)
		left join tb_genre g on(genre_id = g.id)
		left join tb_detail_film df on(df.film_id=f.id)
		left join tb_film_image fi on(df.id=fi.dfilm_id)
		left join tb_rating_film rf on(f.id = rf.id)
		where r.status='Y'
		order by r.id desc
	</select>
	
	<insert id="reviewWrite">
		INSERT INTO TB_REVIEW
		VALUES(SEQ_REVIEW_ID.NEXTVAL, #{content}, DEFAULT, DEFAULT, DEFAULT, #{spoilerCheck}, DEFAULT, sysdate , sysdate , #{filmId},#{memberId})
	</insert>  
	
	<insert id="reviewRating">
		INSERT INTO TB_RATING_REVIEW
		VALUES (SEQ_RATING_REVIEW_ID.NEXTVAL,#{ratingSound},#{ratingVisual},#{ratingActing},#{ratingPop},#{ratingScript},#{ratingDirect}, SEQ_REVIEW_ID.currval,#{memberId})
	</insert> 
	
	<!-- 리뷰업데이트 관련 -->
	<update id="reviewUpdateContent">
		update tb_review
		set CONTENT=#{content},MODIFY_DATE=sysdate,SPOILER_CHECK=#{spoilerCheck}
		where id=#{id}
	</update>
	<!-- 리뷰 레이팅리뷰 업데이트관련 -->
	<update id="reviewUpdate">
		update tb_rating_review
		set rating_Sound=#{ratingSound},rating_Visual=#{ratingVisual},rating_Acting=#{ratingActing},rating_Pop=#{ratingPop},rating_Script=#{ratingScript},rating_Direct=#{ratingDirect}
		where id=#{ratingReviewId}
	</update>
	
	<!-- 리뷰삭제 -->
	<update id="deleteReview">
	update tb_review
	set status='N'
	where id=#{id}
	</update>
	
	<!-- 영화제목 장르 가져오는거 -->
	<select id="selectFilm" resultMap="filmResultSet">
        SELECT *
		FROM TB_FILM f
        left join tb_genre g on( f.genre_id = g.id)
        left join tb_detail_film df on(df.film_id=f.id)
        left join TB_FILM_IMAGE fi on(fi.DFILM_ID=df.id)
        where f.id=#{id}
	</select>
	
	<!-- 멤버정보 가져오는거 -->
	<select id="selectMember" resultMap="memberResultSet">
		select *
        from tb_member
        where id=#{id}
	</select>
	
	<!-- 합친부분 -->
	<select id="selectRatingReviewDetailView" resultMap="reviewListSet">
    select r.id as id,m.id as member_Id,m.image, r.spoiler_check, fi.change_name,f.title_kor,rf.star,r.modify_date,r.create_date,m.nickname,r.content,rr.rating_Sound,rr.rating_Visual,rr.rating_Acting,rr.rating_Pop,rr.rating_Script,rr.rating_Direct,rr.id as rr_id
	from  TB_REVIEW r
	left join tb_rating_review rr on(r.film_id=rr.id)
	left join tb_member m on(r.member_id = m.id)
	left join tb_film f on(f.id=r.film_id)
	left join tb_genre g on(genre_id = g.id)
	left join tb_detail_film df on(df.film_id=f.id)
	left join tb_film_image fi on(df.id=fi.dfilm_id)
	left join tb_rating_film rf on(f.id = rf.id)
    where r.id=#{id}
	</select>

	
	
	
	<select id="myPageReviewListCount" resultType="_int">
		select count(*)
		from tb_review
		where member_id=#{id}
	</select>
	
	<select id="myPageSelectReviewList" resultMap="myPageSelectReviewListResultSet">
		select r.member_id, r.content, f.title_kor, f.id as f_id, r.status, r.modify_date, b.change_name, rr.id
		from tb_review r
		join tb_film f on(r.film_id = f.id)
		join (select df.film_id, i.change_name
		        from tb_detail_film df
		        join tb_film_image i on(i.dfilm_id = df.id))b on(b.film_id=f.id)
        join tb_rating_review rr on(r.id= rr.review_id)
		where r.member_id=#{id} and
		      r.status='Y'
		order by r.modify_date desc
	</select>
	
	<!-- 메인화면 리뷰 3개씩 뜨는거 좋아요순 -->
	<select id="selectReviewListMain" resultMap="reviewListSet">
	<![CDATA[	
        select rownum, r.*
		from (select * from tb_review r
        left join tb_rating_review rr on(r.film_id=rr.id)
        left join tb_member m on(r.member_id = m.id)
        left join tb_film f on(f.id=r.film_id)
        left join tb_genre g on(genre_id = g.id)
        left join tb_detail_film df on(df.film_id=f.id)
        left join tb_film_image fi on(df.id=fi.dfilm_id)
        left join tb_rating_film rf on(f.id = rf.id)
		where r.status='Y' 
        order by r.like_count desc) r
        where rownum <=3
     ]]>
	</select>
	
	<!-- 리뷰 신고 조회 -->
	<select id="selectReviewReport" resultMap="reviewListSet">
		select rownum, r.*
		from ( select member_ID from tb_review) r
		where rownum = 1
	</select>
	
	<!-- 리뷰 신고하기 -->
	<insert id="insertDeclaration">
		  insert into tb_report values(SEQ_REPORT_ID.nextval,1,#{targetId},#{content},#{reportId},#{ reportedId })
	</insert>
	
	<!-- 뎃글 리스트 -->
	<select id="selectReviewComment" resultMap="commentResultSet">
		select *
		from tb_comment c
        left join tb_member m on (c.member_id=m.id)
		where BOARD_ID=#{id}
		and c.status='Y'
        order by c.id desc
	</select>
	
	<!-- 리뷰댓글 넣기 -->
	<insert id="insertReviewComment">
	 	insert into tb_comment
	 	values(seq_comment_id.nextval, 1, #{content}, default, default, default, sysdate, sysdate, default, default, #{memberId}, #{boardId}, #{reviewId})
	 </insert>
	
	<!-- 댓글 신고하기 -->
	<insert id="insertDeclarationComment">
		  insert into tb_report values(SEQ_REPORT_ID.nextval,2,#{targetId},#{content},#{reportId},#{ reportedId })
	</insert>
	
	
	<!-- 리부댓글 삭제 -->
	<update id="deleteReviewComment">
	update tb_comment
	set status='N'
	where id=#{id}
	</update>
	
	<!-- 리뷰가져오는거 -->
<!-- 	<select id="selectReview" resultMap="reviewListSet">
        SELECT *
		FROM TB_Review r
		where 
	</select>
 -->
	<select id="checkLike" resultMap="likeSet">
		select *
		from tb_like
		where user_id=#{id} and type=3
	</select>
	
</mapper>