<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.ch.podo.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.ch.podo.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.ch.podo.film.model.vo.Film" alias="Film"/>
		<typeAlias type="com.ch.podo.review.model.vo.Review" alias="Review"/>
		<typeAlias type="com.ch.podo.detailFilm.model.vo.DetailFilm" alias="DetailFilm"/>
		<typeAlias type="com.ch.podo.film.model.vo.Genre" alias="Genre"/>
		<typeAlias type="com.ch.podo.like.model.vo.Like" alias="Like"/>
		<typeAlias type="com.ch.podo.ratingFilm.model.vo.RatingFilm" alias="RatingFilm"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/film-mapper.xml"/>
		<mapper resource="mappers/detailFilm-mapper.xml"/>
		<mapper resource="mappers/ratingFilm-mapper.xml"/>
	</mappers>
	
</configuration>
