<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
   
   <settings>
      <setting name="jdbcTypeForNull" value="NULL"/>
   </settings>
   
   <typeAliases>
      <typeAlias type="com.ch.podo.member.model.vo.Member" alias="Member"/>
      <typeAlias type="com.ch.podo.board.model.vo.Board" alias="Board"/>
      <typeAlias type="com.ch.podo.ratingReview.model.vo.RatingReview" alias="RatingReview"/>
      <typeAlias type="com.ch.podo.film.model.vo.Film" alias="Film"/>
      <typeAlias type="com.ch.podo.review.model.dto.Review" alias="Review"/>
      <typeAlias type="com.ch.podo.detailFilm.model.vo.DetailFilm" alias="DetailFilm"/>
      <typeAlias type="com.ch.podo.film.model.vo.Genre" alias="Genre"/>
      <typeAlias type="com.ch.podo.like.model.vo.Like" alias="Like"/>
      <typeAlias type="com.ch.podo.ratingFilm.model.vo.RatingFilm" alias="RatingFilm"/>
      <typeAlias type="com.ch.podo.image.model.vo.Image" alias="Image"/>
      <typeAlias type="com.ch.podo.report.model.vo.Report" alias="Report"/>
      <typeAlias type="com.ch.podo.detailFilm.model.vo.Actor" alias="Actor"/>
      <typeAlias type="com.ch.podo.inquiry.model.vo.Inquiry" alias="Inquiry"/>
      <typeAlias type="com.ch.podo.comment.model.vo.Comment" alias="Comment"/>
      <typeAlias type="com.ch.podo.notice.model.vo.Notice" alias="Notice"/>      
   </typeAliases>
   
   <mappers>
      <mapper resource="mappers/member-mapper.xml"/>
      <mapper resource="mappers/board-mapper.xml"/>
      <mapper resource="mappers/rating-review-mapper.xml"/>
      <mapper resource="mappers/review-mapper.xml"/>
      <mapper resource="mappers/film-mapper.xml"/>
      <mapper resource="mappers/detailFilm-mapper.xml"/>
      <mapper resource="mappers/ratingFilm-mapper.xml"/>
      <mapper resource="mappers/like-mapper.xml"/>
      <mapper resource="mappers/report-mapper.xml"/>
      <mapper resource="mappers/inquiry-mapper.xml"/>
      <mapper resource="mappers/image-mapper.xml"/>
      <mapper resource="mappers/notice-mapper.xml"/>      
   </mappers>
   
</configuration>
